.center{
    display: flex;
    justify-content: center;
  }

.share-donate {
    text-align: center;
    margin-top: 20px;
}

.share-donate p {
    margin-bottom: 10px;
}

.share-buttons {
    margin-bottom: 20px;
}

.donate-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.description {
    font-style: italic;
    font-weight: 300;
}

.span-blue {
    color: rgb(97, 68, 242);
}

.span-red {
    color: rgb(245, 66, 81);
}

.span-yellow {
    color: rgb(229, 235, 73);
}

/* 
--------------------------------------------------------
Blog home
--------------------------------------------------------
*/

/* For large screens */
@media (min-width: 800px) {
.blog-post-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5em;
}

.blog-post-content {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden;
}

.blog-post-info {
    flex: 1 1 auto;
    display: block;
    word-break: break-word;
}

.blog-post-date {
    display: block;
}

.blog-post-title {
    display: block;
}

.blog-post-description {
    display: block;
}

.blog-post-thumbnail {
    width: 200px;
    flex-shrink: 0;
    display: block;
    margin-right: 2em;
    margin-left: 5em;
}

.blog-post-thumbnail img {
    width: 200px;
    height: auto;
}
}


/* For small screens */
@media (max-width: 799px) {
    .blog-post-item {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .blog-post-thumbnail {
      width: 100%; /* Occupy full width */
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 1em; /* Adjust spacing for smaller screens */
    }
  
    .blog-post-thumbnail img {
      width: 100%; /* Make the image fill its container */
      height: auto;
    }
  }






/* 
--------------------------------------------------------
Blog Categories
--------------------------------------------------------
*/

.blog-category-container {
    /* display: flex; */
    /* flex-wrap: wrap; */
    max-width: 800px; /* Change this to your desired max width */

    margin-left: 2em;
}

.blog-category-container h3 {
    margin: 0.2em;
    padding: 0.3em;
    /* border: 1px solid #ccc; */
}

.blog-category-container li {
    margin-left: 3em;
    padding: 0.3em;
    /* border: 1px solid #ccc; */
}